In [5]:
import pandas as pd
from pathlib import Path

In [6]:
data_path = Path("cleaned_output/player_week_features_clean.csv")

df = pd.read_csv(data_path, parse_dates=['week_start', 'week_end'])
df

,player_id,week_id,week_start,week_end,season,label_hr,reward,prev_games_played,prev_pa_roll_7,prev_pa_roll_14,prev_pa_roll_28,prev_pa_per_game,prev_hr_rate_7,prev_hr_rate_14,prev_hr_rate_28,prev_hr_rate_season,prev_avg_ev_7,prev_avg_la_7,prev_barrel_rate_7
0,457759,2023-W14,2023-04-03,2023-04-09,2023,0,0,5.0,20.0,40.0,80.0,4.0,0.000000,0.003297,0.009341,0.010638,84.222484,30.973585,0.0
1,457759,2023-W15,2023-04-10,2023-04-16,2023,1,1,6.0,24.0,48.0,96.0,4.0,0.000000,0.000000,0.000000,0.005155,82.988021,21.657986,0.0
2,457759,2023-W16,2023-04-17,2023-04-23,2023,1,1,7.0,28.0,56.0,112.0,4.0,0.008065,0.006912,0.003456,0.006289,84.234069,22.611111,0.0
3,457759,2023-W17,2023-04-24,2023-04-30,2023,0,0,7.0,28.0,56.0,112.0,4.0,0.002421,0.002421,0.005448,0.006881,85.195395,27.088304,0.0
4,457759,2023-W18,2023-05-01,2023-05-07,2023,0,0,6.0,24.0,48.0,96.0,4.0,0.005624,0.006749,0.007312,0.005329,84.755251,28.140344,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,807799,2023-W35,2023-08-28,2023-09-03,2023,1,1,6.0,24.0,48.0,96.0,4.0,0.000000,0.000000,0.000000,0.007539,85.816557,16.417766,0.0
3653,807799,2023-W36,2023-09-04,2023-09-10,2023,1,1,5.0,20.0,40.0,80.0,4.0,0.013514,0.011583,0.005792,0.007768,85.585376,23.837089,0.0
3654,807799,2023-W37,2023-09-11,2023-09-17,2023,0,0,5.0,20.0,40.0,80.0,4.0,0.010989,0.012559,0.017268,0.007913,82.337197,4.039377,0.0
3655,807799,2023-W38,2023-09-18,2023-09-24,2023,0,0,5.0,20.0,40.0,80.0,4.0,0.000000,0.000000,0.000000,0.007681,80.670359,15.567647,0.0
3656,807799,2023-W39,2023-09-25,2023-10-01,2023,0,0,5.0,20.0,40.0,80.0,4.0,0.000000,0.000000,0.000000,0.007414,85.023311,6.917793,0.0

In [7]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
player_id,3657.0,633704.051135,457759.0,605141.0,656305.0,666971.0,807799.0,49915.829391
week_start,3657,2023-06-30 09:12:03.543888384,2023-03-20 00:00:00,2023-05-15 00:00:00,2023-07-03 00:00:00,2023-08-21 00:00:00,2023-10-30 00:00:00,NaN
week_end,3657,2023-07-06 09:12:03.543888384,2023-03-26 00:00:00,2023-05-21 00:00:00,2023-07-09 00:00:00,2023-08-27 00:00:00,2023-11-05 00:00:00,NaN
season,3657.0,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,0.0
label_hr,3657.0,0.818977,0.0,0.0,1.0,1.0,6.0,0.98403
reward,3657.0,0.73038,0.0,0.0,1.0,1.0,2.0,0.773281
prev_games_played,3657.0,5.45283,1.0,5.0,6.0,6.0,8.0,1.281508
prev_pa_roll_7,3657.0,21.811321,4.0,20.0,24.0,24.0,32.0,5.126032
prev_pa_roll_14,3657.0,43.622642,8.0,40.0,48.0,48.0,64.0,10.252064
prev_pa_roll_28,3657.0,87.245283,16.0,80.0,96.0,96.0,128.0,20.504129
prev_pa_per_game,3657.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0
prev_hr_rate_7,3657.0,0.009361,0.0,0.0,0.00813,0.015152,0.180045,0.011983
prev_hr_rate_14,3657.0,0.009379,0.0,0.0,0.008,0.015152,0.232575,0.011992
prev_hr_rate_28,3657.0,0.009379,0.0,0.0,0.007653,0.014935,0.259875,0.011749
prev_hr_rate_season,3657.0,0.009154,0.0,0.00593,0.008658,0.01153,0.095238,0.005684
prev_avg_ev_7,3657.0,83.676953,59.048148,81.362979,83.637421,85.900906,108.825,3.793065
prev_avg_la_7,3657.0,16.67718,-44.3,11.839286,17.040936,21.868557,49.666667,8.074334
prev_barrel_rate_7,3657.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:


df_season = pd.read_csv("player_season_meta.csv")
df_season

     player_id               Name   PA  season
0        18401   Ronald Acuna Jr.  735    2023
1         5361    Freddie Freeman  730    2023
2        13611       Mookie Betts  693    2023
3        19755      Shohei Ohtani  599    2023
4        14344         Matt Olson  720    2023
..         ...                ...  ...     ...
129      19610       Keibert Ruiz  562    2023
130      15676         Jose Abreu  594    2023
131      17988   Tyler Stephenson  517    2023
132      10472  Enrique Hernandez  508    2023
133      10815   Jurickson Profar  521    2023

[134 rows x 4 columns]